In [3]:
import pandas as pd
import numpy as np

# Generate synthetic data for demonstration
np.random.seed(42)
num_records = 1000

# Creating synthetic customer data
data = {
    'TotalPurchaseAmount': np.random.randint(50, 500, num_records),
    'Frequency': np.random.randint(1, 10, num_records),
    'TimeSpent': np.random.randint(5, 60, num_records),
    'PurchaseBehavior': np.random.choice(['High', 'Medium', 'Low'], num_records)
}

# Creating a DataFrame
df = pd.DataFrame(data)

# Saving to CSV file
df.to_csv('customer_data.csv', index=False)

In [8]:
#Read created dataset (1st five rows)

data = pd.read_csv('customer_data.csv')
print(data.head())

   TotalPurchaseAmount  Frequency  TimeSpent PurchaseBehavior
0                  152          5         51           Medium
1                  485          4         44             High
2                  398          8         53             High
3                  320          1         16           Medium
4                  156          1         31             High